<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Chatbot\chatbot_server" />
        <add key="WSGI_HANDLER" value="service.app" />
        <add key="WSGI_LOG" value="log.txt" />
    </appSettings>
</configuration>
